<%- include('./header.ejs') %>
<div class="container">
    <div class="col-md-12">
         <img src="<%= data.featured_image %>" alt="">
    </div>
    <span style="display:block"><%= data.body %> </span>
    

</div>
